$brand-color : #fe86d4;
$head-color : #7b6cd5;

.center_section {
    background-color: #f5f5f5;

    .inside_center {
        height: auto;

        .center-left {
            position: relative;
            left: 25%;
            width: 80%;
            top: 13%;

            h2 {
                color: $head-color;
                font-weight: 700;
                margin-bottom: 10px;
            }

            p {
                width: 80%;
            }
        }

        .center-right {

            // object-fit: cover;
            img {
                width: 100%;
                object-fit: none;
            }
        }
    }
}