$brand-color : #fe86d4;
$head-color : #7b6cd5;


.inside_container {
    max-width: 940px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.head-color {
    color: $head-color;
}

.form_sec {
    padding: 40px 0;

    .main_form {
        margin-top: 60px;

        .right {
            border: 1px solid #555;
            padding: 25px 22px;
            border-radius: 5px;
            

            input{
                margin: 4px 0;
                
            }
           
            input::placeholder{
                color: #888;
            }
            input[type = "date"]{
                text-transform: uppercase;
                color: #888;
            }

            .appnt-btn {
                width: 100%;
                border: none;
                margin-top: 20px;
                padding: 15px 0;
                font-size: 20px;
                font-weight: 600;
                letter-spacing: 0.7px;
                border-radius: 7PX;
                background-color: $head-color;
                color: white;

            }
        }
        .left{
            margin-top: 40px;
            line-height: 33px;
        }
    }
}